.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


.idea/workspace.xml
*.xml
*.xml
*.xml
out/production/java_classes/.idea/vcs.xml
out/production/java_classes/META-INF/java_classes.kotlin_module
out/production/java_classes/myFirstProgram.class
out/production/java_classes/.idea/vcs.xml
out/production/java_classes/sandbox/build.gradle
out/production/java_classes/sandbox/src/main/java/ru/stqa/pft/sandbox/MyFirstProgram.class
out/production/java_classes/sandbox/build.gradle
out/production/java_classes/sandbox/build.gradle
out/production/java_classes/sandbox/build.gradle
out/production/java_classes/myFirstProgram.class
out/production/java_classes/.idea/vcs.xml
out/production/java_classes/myFirstProgram.class
out/production/java_classes/.idea/vcs.xml
addressbook-web-tests/out/test/classes/com/example/tests/GroupCreationTest.class
addressbook-web-tests/out/test/classes/META-INF/addressbook-web-tests.main.kotlin_module
out/production/java_classes/sandbox/src/main/java/ru/stqa/pft/sandbox/Point.class
out/production/java_classes/sandbox/src/main/java/ru/stqa/pft/sandbox/Rectangle.class
out/production/java_classes/sandbox/src/main/java/ru/stqa/pft/sandbox/Square.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/MyFirstProgram.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Point.class
sandbox/out/production/classes/sandbox/src/main/java/ru/stqa/pft/sandbox/Rectangle.class
sandbox/out/production/classes/sandbox/src/main/java/ru/stqa/pft/sandbox/Square.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/PointTests.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/SquareTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupCreationTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/ContactCreationTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/TestBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/AppManager.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupCreationTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/TestBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/SessionHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
